In [ ]:
###Observable Trends
    #Men are by far outnumber women as customers, which explains why they outspend the other gender groups
    #Though they purchase less, women as a gender group outspent all other gender groups per trascation. 
    #Men are by far the largest gender group in this dataset

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
game_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(game_csv)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
Total_Players_count = (purchase_data["SN"].nunique())
Total_Players_count

576

In [6]:
tp= { "Total Players": [Total_Players_count]}
Total_Players_df = pd.DataFrame(tp)
Total_Players_df

   Total Players
0            576

In [7]:
#Purchasing Analysis (Total)

In [8]:
Item_count = (purchase_data["Item ID"].nunique())
Item_count

183

In [9]:
Avg_price = purchase_data["Price"].mean()
Avg_price

3.050987179487176

In [10]:
num_purch = purchase_data["Purchase ID"].nunique()
num_purch

780

In [11]:
total_rev = purchase_data["Price"].sum()

total_rev

2379.77

In [12]:
summary_table = pd.DataFrame( {"Number of Unique Items":[Item_count], "Average Price":[Avg_price], "Number of Purchases": [num_purch], "Total Revenue": [total_rev]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [50]:
gender_group = purchase_data.groupby("Gender")

gender_total = gender.nunique() ["SN"]

percent_gender = (gender_total/Total_Players_count*100)

gender_demo = pd.DataFrame({"Percentage of Gender":percent_gender,"Total Count": gender_total})

gender_demo

                       Percentage of Gender  Total Count
Gender
Female                            14.062500           81
Male                              84.027778          484
Other / Non-Disclosed              1.909722           11

In [51]:
#Purchase Analysis

In [61]:
pprice = gender_group["Price"].mean()

In [62]:
pcount = gender_group["SN"].count()

In [64]:
pvalue = gender_group["Price"].sum()


analysis = pd.DataFrame({"Purchase Count": pcount, "Average Purchase Price": pprice, "Total Purchase Value": pvalue})

analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [68]:
gh = total_rev/Total_Players_count
gh

4.131545138888889